version: "3.9"

services:
  app:
    build: .
    container_name: mthm_app
    restart: unless-stopped
    # We map port 3000 to the host just in case, though Nginx will use the internal network
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

  nginx:
    image: nginx:alpine
    container_name: mthm_proxy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
